/*************************
*******Landing Page******
**************************/

#home {
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  width: 100%;
  height: 100vh;
}
#landing{
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100%;

    #cjlogo{
      float: left;
      margin: 12vh 0 0 30%;
      // background-color: rgba($dark-bg, .85);
      width: 40%;
      border-radius: 100%;
        img {
          height: 100%;
          width: 100%;
        }
    }
}

/*=================================
    Quotes
===================================*/

#quotes {
  background-color: darken($teal, 20);
  padding: 50px 0;
}

.call-to-action {
    color: #fff;
    font-weight: 600;
}

.call-to-action p {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
}

/*=================================
    My Tempates
===================================*/

.section-title {
  width: 60%;
  margin-bottom: 5vh;
}

#gallery {
  @extend %content-desktop;

    .template-wrapper{
      float: left;
      text-align: center;
    }
    .btn-pdf {
      width: 50%;
      padding: 5px;
      background-color: darken($teal, 20);
      border: solid 2px $dark-bg;
      font-weight: 600;
      color: white;

      &:hover{
        @include transition(all .2s ease-in 0s);
        background-color: $dark-bg;
        border: solid 2px darken($teal, 20);
      }
    }
    h1 {
      padding-bottom: 2.5vh;
      font-weight: 300;
      font-size: 30px;
    }
    img {
    padding: 5%;
    }
}
.fancybox-template {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;

  &:hover {
    opacity: 0.7;
  }
}
.pop-ups {
  padding: 5vh 10vh;
  background-color: $dark-bg;
    
    h2 {
      font-size: 42px;
      color: $teal;
    }
    img {
      height: 50vh;
    }
    h4 {
      padding: 3vh 0;
      font-size: 28px;
      color: $teal;
    }
    p {
      padding: 3vh 0;
      font-size: 18px;
      line-height: 28px;
    }

    .h2-sub {
      padding: 2vh 0;
    }
    
}

/*=================================
    Contacts
===================================*/

.contact-form .input-field {
  margin-bottom: 30px;
}

.contact-form .form-control {
  border: 1px solid #dbdbdb;
  padding: 20px;
  border-radius: 0;
  height: 58px;
  box-shadow: none;
}

.contact-form .message .form-control {
  height: 198px;
}

.contact-form .form-control::-moz-placeholder {
  color: #1f2021;
}

.contact-form #msg-submit {
  font-size: 16px;
  padding: 12px 30px;
  color: $dark-teal;

  &:hover {
    background-color: $dark-teal;
    color: white;
  }
}
