
/*    Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

#navigation {
  .container {
    width: 100%;
  }
}

.navigation .navbar-nav > li > a{
  padding: 24px 12px;
}

#landing{
  #cjlogo {
    margin: 30vh 0 0 20%;
    width: 60%;
  }
}

.section-title {
  p {
    line-height: 20px;
  }
}

.pop-ups {
  padding: 7vh 5vh;
}

.about-body {
  h3 {
    padding-bottom: 2vh;
  }
  p {
    padding-bottom: 4vh;
  }
}
 
} //end of section



/*    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

/*=================================
    Nav Bar
===================================*/

body {
  overflow-x: hidden;

  &>section {
    padding: 10vw;
  }
}

#navigation {
  .container {
    width: 100%;
  }
  .navbar-collapse {
    background-color: $dark-teal;
  }
}

.navbar-toggle {
  border: 1px solid rgba(15, 116, 143, 0.8);
  margin: 20px 15px;
}
.animated-nav .navbar-toggle {
  border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
  background-color: rgba(15, 116, 143, 0.8);
}
.animated-nav .navbar-toggle .icon-bar {
  background-color: #fff;
}

.animated-nav .navigation .navbar-nav > li > a,
.navigation .navbar-nav > li > a {
  padding: 10px 20px;
  border: none;
  color: #fff;
}

.navigation .navbar-nav > li > a,
.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover  {
  background-color: $dark-teal;
}

.navigation .navbar-nav > li.current > a,
.animated-nav .navigation .navbar-nav > li.current > a {
  background-color: white;
  color: $dark-bg;
  text-shadow: none;
  border: none;
}

.section-title {
  width: 100%;
  h2{
    font-size: 24px;
  }
  p {
    font-size: 12px;
    line-height: 16px;
  }
}
/*=================================
    Landing
===================================*/
#home {
  height: 80vh;
}
#landing{
  #cjlogo {
    margin: 20vh 0 0 15%;
    width: 70%;
  }
}

/*=================================
    Templates
===================================*/

#gallery {
    .btn-pdf {
      width: 80%;
      padding: 2.5px;
      margin-bottom: 4vh;
      font-size: 12px;
    }
    h1 {
      font-weight: 300;
      font-size: 22px;
    }
    img {
    padding: 5%;
    }
}

.pop-ups {
  padding: 4vh 2vh;

    h2 {
      font-size: 20px;
      color: $teal;
    }
    img {
      width: 100%;
    }
    h4 {
      font-size: 16px;
      color: $teal;
    }
    p {
      font-size: 12px;
      line-height: 16px;
    }
}

.about-body {
  h3 {
    padding-bottom: 2vh;
    font-size: 18px;
  }
  p {
    padding-bottom: 4vh;
    font-size: 12px;
  }
}

/*=================================
    Quotes
===================================*/

#quotes {
  padding-top: 50px;
  padding-bottom: 50px;

    .call-to-action p{
      padding: 0;
      font-size: 14px;
      line-height: 20px;
  }
}

.contact-form .form-control {
  padding: 20px;
  border-radius: 0;
  height: 40px;
}

.contact-form #msg-submit {
  font-size: 12px;
  padding: 10px;
}

} //End of section